
@font-face {
  font-family: nation;
  src: url(/src/lib/fonts/Nation.ttf);
}
body{
    background-color: black;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;  
  font-family: nation; 
  font-size: 62.5%;
  color: white;
}